{% load static %}
<html>
    <head>
        <title>Mi Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div>
            <header>
                <div class="nav-left">
                    <h1><a href="{% url 'home' %}">Mi Blog</a></h1>
                </div>
                <div class="nav-right">
                    <a href="{% url 'post_new' %}">+ Nuevo Post</a>
                </div>
            </header>

            {# Verifico si esta logeado el usuario #}
            {% if user.is_authenticated %}
                <p>Hola {{ user.username }}</p>
                <p><a href="{% url 'logout' %}">Logout</a></p>
            {% else %}
                <p>No estas logeado</p>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}


            {# Contenido principal #}
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>